 <div>
                    <h1>Login Form</h1>
                    <div>
                        <input class="form-control" placeholder="Client Code" type="text" >
                    </div>
                    <div>
                        <input class="form-control" placeholder="User Id" type="text">
                    </div>
                    <div>
                        <input class="form-control" placeholder="Password" type="password" >
                    </div>
                    <div>
                        <a href="#" class="btn btn-default submit">Log in</a>
                        <a href="#" class="reset_pass">Lost your password?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div>
                            <h1><i class="fa fa-paw"></i><span>eCustomers</span></h1>
                            <p>&copy;2016 All Rights Reserved. Privacy and Terms</p>
                        </div>
                    </div>
                </div>