 <div>
    <h1>Login Form</h1>
        
    <div>
        <input class="form-control" placeholder="User Id" type="text" [(ngModel)]="UserId">
    </div>
    <div>
        <input class="form-control" placeholder="Password" type="text" [(ngModel)]="Pwd" >
    </div>
    <div>
        <!--<a href="#" class="btn btn-default submit" (click)="Login()">Log in</a>-->
            <button (click)="Login()">Login</button>
            <button (click)="LogOut()">Login Out</button>
    </div>

    <div class="clearfix"></div>

    <div class="separator">

        <div>
            <h1><i class="fa fa-paw"></i><span>eCustomers</span></h1>
            <p>&copy;2016 All Rights Reserved. Privacy and Terms</p>
        </div>
    </div>
</div>